.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid aqua;
    background-color: black;
}

h2 {
    color: aqua;
    margin-bottom: 20px;
}

input {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    /* background-color: aqua; */
    border: none;
}

button {
    padding: 10px 20px;
    /* background-color: aqua; */
    border: none;
    cursor: pointer;
}